.customButton {
	border: 3px rgb(219, 235, 4);
	padding: 2px 6px 2px 6px;
	cursor: pointer;
}

.customButton:hover {
	border: 1px solid black;
	box-shadow: gray 2px 2px 5px;
}
body{
margin:70px;
background-color:rgb(9, 247, 41);}
}
.customButton{
background-color:rgb(20, 220, 70);
padding:6px;
border-radius: 0px;
}
.customButton:hover{
background-color:red;
border: 2px solid crimson;
font-weight:bold;
}
h1{
text-align:center;
color:crimson;
animation: newanime 5s infinite;
text-transform: uppercase;
text-overflow: ellipsis;
}
@keyframes newanime {
	50% {text-shadow: 2px 2px 3px grey;}
	}